:root{
  --mainRed:#FF0000;
  --lightBlue:#009ffd;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#ffa400;
}
body{
  font-family: 'Oswald', sans-serif !Important;
  background: var(--mainWhite) !Important;
  color: var(--mainDark) !Important;
}
.text-title{
  font-family: 'Merriweather', serif;
  letter-spacing: 0.3rem;
}
.text-red{
  color:var(--mainRed);
}
.text-bright{
  color:var(--lightBlue);
}